body {
	box-sizing: border-box;
}
h1, h2 {
	padding: 0;
	margin: 0;
}
.user-list {
	margin-top: 1rem;
	padding: 1rem;
	border: 1px solid #bbb;
}
img {
	display: block;
	width: 100%;
}
li, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul {
	margin-top: 1rem;
}
li {
	padding: 0.5rem;
	font-size: 1.5rem;
	border-top: 1px solid #eee;
}
li:last-child {
	border-bottom: 1px solid #eee;
}
li span {
	display: inline-block;
	vertical-align: middle;
}

